@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    On Pentia we have taken an important decision. We create all our solutions based on
    the Sitecore platform. What does that mean for you? That our expertise is focused and clean.
    We do not waver between platforms or dilutes our knowledge. Here you will find the most
    certified Sitecore developers. Furthermore, we are the only ones in Europe with seven MVPs - Sitecore Most
    Valuable Professional. Actually, not surprising. It was, after all Pentia who developed Sitecore.

    <h4>Why Sitecore?</h4>
    We are not the only ones to think that Sitecore is something special. Sitecore has year after year been named
    the world's most innovative and flexible platform for the industry's most renowned experts. It is easy to
    understand why. The user experience is simple, logical and welcoming. While doing Sitecore's flexibility, it is
    possible to adapt and optimize content for users' digital footprints. Integration options for social platforms
    and mission critical systems is unique. Visitors to the Sitecore platform are more satisfied, committed and loyal to
    giving our customers a faster return on investment.
</p>
