@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Södra Långgatan 25<br />
    211 44 Malmö<br />
    <abbr title="Phone">P:</abbr>
    +46 733 86 46 84
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@pentia.se">info@pentia.se</a><br />
</address>