@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pentia Car Dealership</h1>
    <p class="lead">We deliver the finest cars in the universe</p>
    <p><a href="http://pentia.se" class="btn btn-primary btn-lg">Visit our software development page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Pentia Car Dealership was founded in a galaxy far far away. We strive towards perfection in everything we do. 
            Do not hesitate to come down and go for a test drive in one of our many fine cars. 
        </p>
       
    </div>
   
</div>